<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  rel="stylesheet"
/>

<footer
  class="footer bg-dark text-white py-5 mt-5"
  style="position: relative;"
>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="mb-4">Contact Info</h5>
        <p><i class="fas fa-map-marker-alt mr-2"></i> 123 Main Street, City</p>
        <p><i class="fas fa-phone-alt mr-2"></i> 123-456-7890</p>
        <p><i class="fas fa-envelope mr-2"></i> info&#64;domain.com</p>
      </div>
      <div class="col-md-4">
        <h5 class="mb-4">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="mb-4">Socials</h5>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
