<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<footer class="footer bg-dark text-white py-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="mb-4">Información de contacto</h5>
          <p><i class="fas fa-map-marker-alt mr-2"></i> 123 Calle Principal, Ciudad</p>
          <p><i class="fas fa-phone-alt mr-2"></i> 123-456-7890</p>
          <p><i class="fas fa-envelope mr-2"></i> info@tudominio.com</p>
        </div>
        <div class="col-md-4">
          <h5 class="mb-4">Enlaces rápidos</h5>
          <ul class="list-unstyled">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="mb-4">Redes sociales</h5>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  