<!-- Barra de navegacion -->

<app-nav-bar></app-nav-bar>

<!-- Review -->

<div class="container">
    <h2>STARFIELD</h2> <span class=""></span>
    <hr>
    <div class="row">
        <div class="col-sm-1">
            <img src="https://static.metacritic.com/images/products/games/8/c495806cbb9553ae931e9783e28340d8-98.jpg" alt="" width="80" height="100">   
        </div>
        <div class="col-sm-5">
            <span class="badge text-bg-success"><h4>83</h4></span><span>Starfield is the first new universe in over 25 years from Bethesda Game Studios, 
                the creators of The Elder Scrolls V: Skyrim and Fallout 4. In this next generation role-playing game set amongst the stars, 
                create any character you want and explore with unparalleled 
                freedom as you embark on an epic journey to answer humanity’s greatest mystery.</span>

        </div> 
    </div>
    

</div>