<app-nav-bar></app-nav-bar>

<div class="loginBox container mt-4">
    <div class="row m-3">
        <h2 class="text-center">Administrator Log In</h2>
        <form (submit)="logIn()">
        <div class="mb-3 form-group">
            <label for="correo-electronico" class="form-label mb-1">E-Mail</label>
            <input type="text" class="form-control" id="correo-electronico" name="email" [(ngModel)]="this.admin.email" placeholder="Enter your email" >
        </div>
          <div class="mb-3 form-group">
            <label for="password"  class="form-label">Password</label>
            <input type="password" class="form-control" id="contraseña" name="password" [(ngModel)]="this.admin.password" placeholder="Enter your password" >
          </div>
          <button type="submit" class="btn btn-primary btn-block mi-4 mt-2">Sign In</button>
        </form>
        
    </div>
</div>
