<div class="container mt-4 border w-25">
    <div class="row m-3">
        <h2 class="text-center">Crear una cuenta</h2>
        <div class="mb-3 form-group">
            <label for="usuario" class="form-label mb-1">Nombre de usuario</label>
            <input type="text" class="form-control" id="usuario" placeholder="Ingrese su nombre de usuario">
          </div>
        <div class="mb-3 form-group">
            <label for="correo-electronico" class="form-label mb-1">Correo Electrónico</label>
            <input type="text" class="form-control" id="correo-electronico" placeholder="Ingrese su correo electrónico">
        </div>
        <div class="mb-3 form-group">
            <input type="text" class="form-control" id="verificar-correo-electronico" placeholder="Verifique su correo electrónico">
          </div>
          <div class="mb-3 form-group">
            <label for="contraseña" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="contraseña" placeholder="Ingrese su contraseña">
          </div>
          <div class="mb-3 form-group">
            <input type="password" class="form-control" id="verificar-contraseña" placeholder="Verifique su contraseña">
          </div>
          <button type="submit" class="btn btn-secondary btn-block mi-4 mt-2">Registrar</button>
    </div>
</div>