<app-nav-bar></app-nav-bar>

<body>
  <div class="container" style="padding-top: 2%; display: block">
    <h1 style="text-align: center">List of Games</h1>
    <hr />
    <div>
      <ul
        class="list-group list-group-horizontal"
        style="padding-top: 1%"
        *ngFor="let game of games; let i = index"
      >
        <li
          class="list-group-item gameScore"
          style="width: 200px; background-color: lightgrey"
        >
          <h1>{{ game.rating }}</h1>
        </li>
        <li
          class="list-group-item gameScore"
          style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
        >
          <img
            src="{{ game.cover }}"
            style="height: 200px; width: 200px"
            alt="Image"
          />
        </li>
        <li class="list-group-item w-100">
          <div>
            <div class="d-flex w-100 justify-content-between">
              <h3 class="mb-1">{{ game.name }}</h3>
            </div>
            <div class="d-flex w-100 justify-content-between">
              <p class="mb-1">{{ game.description }}</p>
            </div>

            <small
              style="
                font-style: italic;
                position: absolute;
                bottom: 5px;
                right: 10px;
              "
              >Released: {{ game.release_date }}</small
            >
          </div>
        </li>
        <div class="d-grid mx-auto" style="display: flex; margin-bottom: 0px">
          <button
            class="btn btn-primary btn-sm"
            style="margin-left: 5px; margin-bottom: 1px"
            (click)="index = i; editMode = !editMode"
          >
            Edit
          </button>
          <button
            class="btn btn-danger btn-sm"
            style="margin-left: 5px"
            (click)="deleteGame(game.id)"
          >
            Delete
          </button>
        </div>
      </ul>
    </div>
  </div>

  <div *ngIf="editMode" class="container mt-5">
    <form (ngSubmit)="editGame()">
      <h1>Editing {{ this.games[this.index].name }}</h1>
      <div class="mb-3 form-group">
        <label for="GameName" class="form-label">Game name</label>
        <input
          placeholder="Enter the name of the game"
          [(ngModel)]="this.game.name"
          name="name"
          class="form-control"
          id="GameName"
          [ngClass]="{ 'is-invalid': invalid_name }"
        />
      </div>

      <div class="mb-3 form-group">
        <label for="GameDescription" class="form-label">Game description</label>
        <textarea
          [(ngModel)]="this.game.description"
          placeholder="Enter the description of the game"
          name="description"
          class="form-control"
          id="GameDescription"
          [ngClass]="{ 'is-invalid': invalid_description }"
        ></textarea>
      </div>

      <div class="mb-3 form-group">
        <label for="GameCover" class="form-label">Game Cover</label>
        <input
          [(ngModel)]="this.game.cover"
          name="cover"
          placeholder="Enter a link to the game cover"
          class="form-control"
          id="GameCover"
        />
      </div>

      <button type="submit" class="btn btn-primary mt-3">Submit</button>
      <button
        type="submit"
        class="btn btn-danger mt-3"
        (click)="editMode = !editMode"
      >
        Cancel
      </button>
    </form>
  </div>
</body>
<app-footer></app-footer>
