<div class="container" style="padding-top: 2%">
  <ul class="list-group list-group-horizontal" style="padding-top: 1%">
    <li
      class="list-group-item gameScore"
      style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
    >
      <h1>{{ this.review.rating }}</h1>
    </li>
    <li
      class="list-group-item "
    >
      <img src="{{this.review.gameId.cover}}" style="max-height: 100px; max-width: 100xp; aspect-ratio: 1; cursor: pointer" alt="" routerLink="/game/{{ this.review.gameId.id }}">
    </li>
    <li class="list-group-item" style="width: 100%">
      <div class="col">
        <div class="d-flex w-100 justify-content-between">
          <h3 class="mb-1" style="cursor: pointer;" routerLink="/game/{{ this.review.gameId.id }}">{{ this.review.gameId.name }}</h3>
        </div>
        <div *ngIf="review.spoiler_check">
          <h6
            (click)="review.spoiler_check = !review.spoiler_check"
            style="cursor: pointer; text-decoration: underline"
          >
            [SPOILER] See review
          </h6>
        </div>
        <div *ngIf="!review.spoiler_check">
          <p class="mb-1">{{ this.BodyLine1 }}</p>
          <p class="mb-1">{{ this.BodyLine2 }}</p>
          <p class="mb-1">{{ this.BodyLine3 }}</p>
        </div>
        <small style="font-style: italic; display: flex; justify-content: end"
          >Edited: 21/09/23</small
        >
      </div>
    </li>
    <div
      class="d-grid mx-auto"
      style="display: flex; margin-bottom: 0px"
      *ngIf="review.userId.username === userData.username"
    >
      <button
        class="btn btn-primary btn-sm"
        style="
          margin-left: 5px;
          margin-bottom: 1px;
          background-color: lightblue;
        "
        data-bs-toggle="modal"
        data-bs-target="#reviewModal"
      >
        <i class="fa fa-pen" style="color: black"></i>
      </button>

      <button
        class="btn btn-danger btn-sm"
        style="margin-left: 5px; background-color: lightcoral"
        (click)="deleteReview(review)"
      >
        <i class="fa fa-trash" style="color: black"></i>
      </button>
    </div>
  </ul>
</div>

<div class="modal fade" id="reviewModal">
  <div class="modal-dialog">
    <form (ngSubmit)="editReview()">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Edit your review</h2>
        </div>
        <div class="modal-body">
          <p>
            Does your review contain spoilers?
            <input
              class="form-check-input"
              type="checkbox"
              id="miCheckbox"
              [ngModel]="this.review.spoiler_check"
              name="miCheckbox"
              (ngModelChange)="toggleSwitchSpoiler()"
            />
          </p>
          <div class="form-group">
            <label for="rating">New Score (1-100):</label>
            <input
              type="number"
              id="rating"
              class="form-control"
              name="rating"
              min="1"
              max="100"
              [(ngModel)]="this.review.rating"
              [ngClass]="{ 'is-invalid': invalid_rating }"
            />
          </div>
          <div class="form-group">
            <label for="comment">New Review:</label>
            <textarea
              id="comment"
              class="form-control"
              name="body"
              [(ngModel)]="this.review.body"
              [ngClass]="{ 'is-invalid': invalid_body }"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" >
            Edit your review
          </button>
          <button class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
