<div class="container" style="padding-top: 2%">
  <ul class="list-group list-group-horizontal" style="padding-top: 1%">
    <li
      class="list-group-item gameScore"
      style="border-top-right-radius: 0px; border-bottom-right-radius: 0px"
    >
      <h1>{{ this.review.rating }}</h1>
    </li>
    <li class="list-group-item" style="width: 100%">
      <div class="col">
        <div class="d-flex w-100 justify-content-between">
          <h3
            class="mb-1 underline"
            style="cursor: pointer"
            [routerLink]="
              review.userId.username === userData.username
                ? '/myprofile'
                : '/user/' + this.review.userId.email
            "
          >
            {{ this.review.userId.username }}
          </h3>
        </div>
        <div *ngIf="review.spoiler_check">
          <h6
            (click)="review.spoiler_check = !review.spoiler_check"
            style="cursor: pointer; text-decoration: underline"
          >
            [SPOILER] See review
          </h6>
        </div>
        <small style="color: gray;">
          {{ this.review.userId.email }}
        </small>
        <div *ngIf="!review.spoiler_check">
          <p class="mb-1">{{ this.BodyLine1 }}</p>
          <p class="mb-1">{{ this.BodyLine2 }}</p>
          <p class="mb-1">{{ this.BodyLine3 }}</p>
        </div>
        <small style="font-style: italic; display: flex; justify-content: end">
          {{ this.reviewDate }}
          <ng-container *ngIf="this.review.createdAt != this.review.updatedAt"
            >(Edited)</ng-container
          >
        </small>
      </div>
    </li>
    <div
      class="d-grid mx-auto"
      style="display: flex; margin-bottom: 0px"
      *ngIf="!(review.userId.username === userData.username)"
    >
      <button
        class="btn btn-success"
        (click)="likeClicked()"
        [class.active]="liked"
      >
        <i class="fas fa-thumbs-up"></i>
      </button>
      <button
        class="btn btn-danger"
        (click)="dislikeClicked()"
        [class.active]="disliked"
      >
        <i class="fas fa-thumbs-down"></i>
      </button>
    </div>
    <div
      class="d-grid mx-auto"
      style="display: flex; margin-bottom: 0px"
      *ngIf="review.userId.username === userData.username"
    >
      <button
        class="btn btn-primary btn-sm"
        id="editButton"
        style="margin-left: 5px; margin-bottom: 1px"
        (click)="editMode = !editMode"
      >
        Edit
      </button>
      <button
        id="deleteButton"
        class="btn btn-danger btn-sm"
        style="margin-left: 5px"
        (click)="deleteReview(review)"
      >
        Delete
      </button>
    </div>
  </ul>
</div>

<div class="container mt-5 form border" *ngIf="editMode">
  <app-review-form
    [gameId]="this.gameData._id"
    [userId]="this.userData._id"
    [isThisEdit]="true"
  ></app-review-form>
</div>
