<!-- Barra de navegacion -->
<app-nav-bar></app-nav-bar>
<style>
    html {
       margin: 0px;
       height: 1080px;
       width: 100%;;
        }
    
    body {
       margin: 0px;
       min-height: 100%;
       width: 100%;
       background:linear-gradient(0deg, white, rgb(240, 240, 240));
       font-family: Verdana, Tahoma, Geneva, sans-serif;
        }
    </style>
<!-- Review -->
<body>
    <div class="row justify-content-md-center">
        <img src="{{ this.gameData.cover }}" class="img-fluid box"> 
    </div>
    <div class="row justify-content-md-center">
        <div class="content">
                <h1 style="display:flex; align-content: center;">{{ this.gameData.title }}</h1>
                <div style=" align-content: center;" class="">
                    <p>
                        The Legend of Zelda: Tears of the Kingdom es un videojuego de acción-
                        aventura de 2023 de la serie The Legend of Zelda, desarrollado por la filial Nintendo 
                        EPD en colaboración con Monolith Soft y publicado por Nintendo para la consola Nintendo Switch.
                    </p>
                    <span class="{{ calculateColorRating(this.gameData.rating) }}" style="font-size: 25px; " >{{ this.gameData.rating }}</span>
                </div>
            <div *ngFor="let review of reviews">

            </div>     
        </div>
    </div>
    <div class="container mt-5">
        <h2>Deja tu revisión</h2>
        <div class="form-group">
            <label for="rating">Puntuación (1-100):</label>
            <input type="number" id="rating" class="form-control" min="1" max="100" [(ngModel)]="this.review.rating">
          </div>
          
        <div class="form-group">
          <label for="comment">Comentario:</label>
          <textarea id="comment" class="form-control" [(ngModel)]="this.review.body"></textarea>
        </div>
        <button class="btn btn-primary">Enviar Revisión</button>
      </div>
</body>
    