<!-- Barra de navegacion -->
<app-nav-bar></app-nav-bar>
<!-- Review -->
<body>
  <app-game-info [gameData]="this.gameData"></app-game-info>

  <div *ngFor="let review of reviews; let i = index">
    <app-review
      [review]="reviews[i]"
      [userData]="userData"
      [gameData]="gameData"
    ></app-review>
  </div>

  <div class="container mt-5 form border" *ngIf="!reviewed">
    <form (ngSubmit)="postReview()">
      <h2>Deja tu review</h2>

      <div class="container">
        <div class="row">
          <div class="col-sm-3"><p>La review contiene spoilers?</p></div>
          <div class="col-sm-1">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="miCheckbox"
                [ngModel]="this.review.spoiler_check"
                name="miCheckbox"
                (ngModelChange)="toggleSwitchSpoiler()"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="rating">Puntuación (1-100):</label>
        <input
          type="number"
          id="rating"
          class="form-control"
          name="rating"
          min="1"
          max="100"
          [(ngModel)]="this.review.rating"
          [ngClass]="{ 'is-invalid': invalid_rating }"
        />
      </div>

      <div class="form-group">
        <label for="comment">Comentario:</label>
        <textarea
          id="comment"
          class="form-control"
          name="body"
          [(ngModel)]="this.review.body"
          [ngClass]="{ 'is-invalid': invalid_body }"
        ></textarea>
      </div>

      <button class="btn btn-primary" id="submit-review" type="submit">
        Enviar Review
      </button>
    </form>
  </div>
</body>
