<!-- Barra de navegacion -->
<app-nav-bar></app-nav-bar>

<body>
    <div class="container">
        <h1 style="text-align: center;">Create a game</h1>
        <form (ngSubmit)="createGame()">

            <div class="mb-3 form-group">
            <label for="GameName" class="form-label">Game name</label>
            <input  placeholder="Enter the name of the game" 
            [(ngModel)]="this.game.name" name="name" class="form-control"  id="GameName">
            </div>

            <div class="mb-3 form-group">
            <label for="GameDescription" class="form-label">Game description</label>
            <textarea  [(ngModel)]="this.game.description" 
            placeholder="Enter the description of the game"
            name="description" class="form-control" id="GameDescription"></textarea>
            </div>

            <div class="mb-3 form-group">
            <label for="GameCover" class="form-label">Game Cover</label>
            <input [(ngModel)]="this.game.cover" name="cover"
            placeholder="Enter a link to the game cover" class="form-control" id="GameCover">
            </div>

            <label for="GameReleaseDate" class="form-label">Game Release Date</label>
            <div class="row g-3 form-group">
                <div class="col-sm">
                    <p>Day: </p>
                    <select class="form-select" [(ngModel)]="this.day" name="day" aria-label="Default select example" id="days">
                        <option value="">Select a day</option>
                    </select>
                      
                </div>
                <div class="col-sm form-group">
                    <p>Month: </p>
                    <select class="form-select" [(ngModel)]="this.month" name="month" aria-label="Default select example" id="months">
                        <option value="">Select a month</option>
                    </select>
                </div>
                <div class="col-sm form-group">
                    <p>Year: </p>
                    <input type="Year" [(ngModel)]="this.year" name="year" placeholder="Select a Year" class="form-control" id="GameYear">
                </div>
              </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>

    
</body>