html {
    margin: 0px;
    height: 1080px;
    width: 100%;;
     }
 
 body {
    margin-top: 30px;
    min-height: 100%;
    width: 100%;
    background:linear-gradient(0deg, white, rgb(240, 240, 240));
    font-family: Verdana, Tahoma, Geneva, sans-serif;
     }