.useroptions{
    display: flex;
    flex-flow: row;
    justify-content: right;
    text-shadow: 2px 2px 10px rgba(134, 134, 134, 0.2);
}

.reviewsTitle{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 10px rgba(134, 134, 134, 0.2);
}
hr{
    flex: 1;
}
.reviewsTitle h1{
    padding: 0px 20px;
}
.reviewsTitle h3{
    padding: 0px 20px;
}
.userLevelAndScore{
    max-width: 200px;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    color: white;
    text-shadow: 2px 2px 10px rgb(134, 134, 134, 0.5);
    text-align: center;
    box-shadow: 2px 2px 10px rgba(134, 134, 134, 0.2);
}


