<html>
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<app-nav-bar></app-nav-bar>
<style>
html {
   margin: 0px;
   height: 100%;
   width: 100%;
    }

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   background:#f0ecdf;
   font-family: Verdana, Tahoma, Geneva, sans-serif;
    }
</style>
<body>
   <!-- Informacion del usuario -->
    <div class="container" style="padding-top: 3%;">
        <div class="row" style="position: relative; height: 200px;">
            <div class="col-2" style="width: 200px;">
            <img src="{{this.user.profilePicture}}" style="width: 200px; height: 200px; border: 2px solid black; ;position: absolute; left: 0;" alt="">
            </div>
            <div class="col-6">
                <h2>
                Username: {{ this.user.username }}
                </h2>
                <h2 style="position:absolute; bottom:40% ">
                    Email: {{ this.user.email }}
                </h2>
                <h2 style="position:absolute; bottom: 0;">
                        Telefono: 3400515976
                </h2>
            </div>
            <div class="col-2">
                <div class="level">
                    <div style="position: relative; top: 15%;">
                        <h2>Level</h2>
                        <h4 style="font-size:450%;">3</h4>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-between" style="position: relative;">
            <div class="col-2" style="width: 200px">
                <h2 style="position: relative; text-align: center; text-decoration:underline;"> Edit Profile </h2>
            </div> 
            <div class="col-2" style="width: 200px">
                <h2 style="position: relative; text-align: center;"> 230pts </h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center" style="position: relative;">
        <div class="reviewsTitle">
            <hr>
            <h3> My Reviews </h3>
            <hr>
        </div>
    </div>
</body>
</html>