<html>
  <head>
    <meta charset="UTF-8" />
    <title>Profile</title>
  </head>
  <app-nav-bar></app-nav-bar>
  <body>
    <!-- Informacion del usuario -->
    <div class="container text-center" style="padding-top: 15px">
      <div class="row row-cols-6">
        <div class="col-auto me-auto">
          <h1 style="padding-bottom: 0%;">
            {{ this.user.username }}
            <button
            *ngIf="this.sameUser"
            type="button"
            class="btn btn-sm"
            style="
              margin-left: 5px;
              border: none;
              border-top-right-radius: 5px;
              background-color: lightblue;
            "
            data-bs-toggle="modal"
            data-bs-target="#editModal"
          >
            <i class="fa fa-edit" style="color: black"></i>
          </button>
          <button
          *ngIf="this.sameUser"
          (click) = "deleteThisUser()"
            type="button"
            class="btn btn-sm"
            style="
              margin-left: 5px;
              border: none;
              border-top-right-radius: 5px;
              background-color: lightcoral;
            "
          >
            <i class="fa fa-trash" style="color: black"></i>
          </button>
          </h1>
          
        </div>
        <div
          class="col userLevelAndScore"
          style="background-color: lightgreen; padding-top: 5px"
        >
          <h3>Level</h3>
          <h2>{{ this.user.level }}</h2>
        </div>
        <div
          class="col userLevelAndScore"
          style="background-color: lightblue; padding-top: 5px"
        >
          <h3>Score</h3>
          <h2>{{ this.user.score }}</h2>
        </div>
      </div>

      <div class="modal fade" id="editModal">
        <div class="modal-dialog">
          <form (ngSubmit)="editUsername()">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title"> Change your username</h1>
              </div>
              <div class="modal-body">
                <input
                    type="text"
                    class="form-control"
                    id="floatingInputGroup1"
                    placeholder="Change your Username here"
                    value="{{ this.user.username }}"
                    name="username"
                    [(ngModel)]="this.user.username"
                    [ngClass]="{ 'is-invalid': invalid_username }"
                  />
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
              <button
                type="submit"
                class="btn btn-danger mt-3"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <hr />
      <h3 style="padding-top: 15px">My Reviews</h3>
      <hr />
    </div>

    <div *ngFor="let review of reviews; let i = index">
      <app-user-review
        [review]="reviews[i]"
        [userData]="user"
        [sameUser]="sameUser"
      ></app-user-review>
    </div>
  </body>
</html>

<!-- Footer -->
<app-footer></app-footer>
