<!-- Barra de navegacion -->

<app-nav-bar></app-nav-bar>
 
<!-- Carrusel -->
<div class="container-sm"><app-carousel></app-carousel></div>



 <!--  <div class="container-md">
    <div class="row">
        <div class="card offset-md-1" style="width: 18rem;">
            <img src="https://media.vandal.net/i/1440x1080/5-2023/2023591016846_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card offset-md-1" style="width: 18rem;">
            <img src="https://media.vandal.net/ivandal/11/60/1146x600/5/5-2023/2023522338074_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card offset-md-1" style="width: 18rem;">
            <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2020/02/sonic-pelicula-1862103.jpg?tf=3840x" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
  </div> -->