<!-- Barra de navegacion -->
<app-nav-bar></app-nav-bar>

<div class="container" style="margin-top: 20px;">
  <h1> Last Releases </h1>
  <hr>
</div>
 
<!-- Carrusel -->
<div class="container-lg">
  <app-carousel></app-carousel>  
  
  <div class="row mt-5">
        <h1 class="mb-3">What people is talking about</h1>
        <hr>
        <div class="col-sm" *ngFor="let lanzamiento of lanzamientos">
            <div class="card" style="width: 18rem;">
                <img src="{{lanzamiento.img}}" class="card-img-top" style="height: 330px;"  alt="...">
            <div class="card-body">
            <h5 class="card-title">{{lanzamiento.name}}</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus rerum laudantium, impedit cum veritatis nam.</p>
            <a href="#" class="btn btn-primary mt-2">Ver juego</a>
          </div>
  </div>
</div>
     