<app-nav-bar></app-nav-bar>
<div class="container mt-4 border w-25">
    <div class="row m-3">
        <h2 class="text-center">Welcome back!</h2>
        <div class="mb-3 form-group">
            <label for="usuario" class="form-label mb-1">Username</label>
            <input type="text" class="form-control" id="usuario" placeholder="Enter your username">
          </div>
          <div class="mb-3 form-group">
            <label for="contraseña" class="form-label">Password</label>
            <input type="password" class="form-control" id="contraseña" placeholder="Enter your password">
          </div>
          <button type="submit" class="btn btn-primary btn-block mi-4 mt-2">Log In</button>
    </div>
</div>



