<div class="container mt-4 border w-25">
    <div class="row m-3">
        <h2 class="text-center">Ingrese su usuario</h2>
        <div class="mb-3 form-group">
            <label for="usuario" class="form-label mb-1">Usuario</label>
            <input type="text" class="form-control" id="usuario" placeholder="Ingrese su usuario">
          </div>
          <div class="mb-3 form-group">
            <label for="contraseña" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="contraseña" placeholder="Ingrese su contraseña">
          </div>
          <button type="submit" class="btn btn-secondary btn-block mi-4 mt-2">Iniciar sesión</button>
    </div>
</div>



