<app-nav-bar></app-nav-bar>
<body>
<div class="loginBox container mt-4">
  <div class="row m-3">
    <h2 class="text-center">Welcome back!</h2>
    <form (submit)="logIn()">
      <div class="mb-3 form-group">
        <label for="email" class="form-label mb-1">E-Mail</label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          [(ngModel)]="this.user.email"
          [ngClass]="{ 'is-invalid': invalid_email}"
          placeholder="Enter your email"
        />
      </div>
      <div class="mb-3 form-group">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          [(ngModel)]="this.user.password"
          [ngClass]="{ 'is-invalid': invalid_password}"
          placeholder="Enter your password"
        />
      </div>
      <div>
        <button type="submit" class="btn btn-primary btn-block mi-4 mt-2 mb-3">
          Sign In
        </button>
        <div *ngIf="error">
          <p class="alert alert-danger" role="alert">
            {{errorMessage}}
          </p>
        </div>
      </div>
      <a routerLink="/signup">Not registered yet? Sign Up.</a>
    </form>
  </div>
</div>
</body>


<!-- Footer -->
<app-footer></app-footer>